/* Importing Font Style from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik:wght@400;500;600;700&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-family: Roboto, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: white;
}
/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f9f6f0;
}
::-webkit-scrollbar-thumb {
  background-color: var(--maroon);
  border-radius: 4rem;
}
.swiper {
  width: 950px !important;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

:root {
  --brown: #513a2f;
  --brown1: #665248;
  --cream: #ffe8a2;
  --white: #ffffff;
  --goldish: #fae59f;
  --black: #000000;
  --maroon: #871828;
  --trans: 2s;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.logo {
  height: 5%;
  width: 3%;
  padding: 6px;
  margin-left: 15px;
  border-radius: 20%;
  border: 0.15rem solid var(--maroon);
  transition: transform 0.01s ease;
}
.logo:hover {
  transform: scale(1.1);
  /*background-color: var(--cream);*/
  transition: var(--trans);
}
.logo a {
  padding: 20px;
}

.logo:focus,
.logo:active {
  outline-color: #000000;
  box-shadow: 0 0 17px var(--glow-black);
}
/*---------------Back to top Arrow Starts-----*/
#backToTop {
  position: fixed;
  bottom: 7px;
  right: 7px;
  display: none;
  background-color: transparent;
  color: var(--cream);
  padding: 8px;
  border-radius: 15%;
  font-size: 20px;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  transition: background-color 3s ease, color 5s ease;
  border: 2px solid var(--cream);
}

#backToTop:hover {
  /*background-color: #871828;*/
  border: 2px solid var(--cream);
  color: #ffffff;
  transform: rotate(180deg);
  transition: transform 1s ease;
}
/*---------------Back to top Arrow Ends-----*/
body {
  position: relative;
  content: "";
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 0;
  font-family: Arial, sans-serif;
  color: white;
}
.tls {
  text-align: center;
  line-height: 10vh;
  width: 30vw;
  justify-content: center;
  border: whitesmoke solid;
  margin-left: 75vh;
  margin-right: 75vh;
  margin-top: 7px;
  background: linear-gradient(135deg, black, #8c8383, black);
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1000;
  padding: -2px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar li {
  display: inline-block;
  margin: 0 5px;
  margin-left: 5px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 100px;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}
.navbar li a {
  transition: all 0.2s ease 0s;
}
.navbar li a:hover {
  color: var(--maroon);
}

/* animation background begins */
.box div {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: -1000;
}
.box i {
  font-size: larger;
  color: var(--cream);
}

.box div:nth-child(1) {
  top: 30%;
  left: 42%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(4) {
  top: 70%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5) {
  top: 85%;
  left: 10%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(6) {
  top: 8%;
  left: 70%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(7) {
  top: 60%;
  left: 30%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(8) {
  top: 80%;
  left: 80%;
  animation: animate 16s linear infinite;
}
.box div:nth-child(9) {
  top: 4%;
  left: 70%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(10) {
  top: 20%;
  left: 0%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translate(0) rotate(0);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.3) translate(-90px) rotate(360deg);
    opacity: 0.7;
  }
}
/* animation background ends */

/* Home section content */
.Home {
  height: 100vh;
  width: 100vw;
  background-image: url("assets/homebg1.jpg");
  background-size: cover;
  filter: blur(0.2px);
  background-position: center;
  background-repeat: no-repeat;
}
.content {
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  color: white;
  z-index: 1;
}

.content h1 {
  font-size: 30px;
  margin-top: 55px;
  margin-bottom: 20px;
  margin-left: 115px;
}

.content p {
  font-size: 35px;
  margin-bottom: 40px;
  margin-left: 20px;
}
.content span {
  color: var(--maroon);
}
button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 10px 20px;
  background-color: var(--maroon);
  border-radius: 5px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  box-shadow: 0 0 10px maroon;
  font-weight: bolder;
}
/*-------- Services on home page starts------ */
.container-wrapper {
  margin-top: 115px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.container {
  border: 1.5px solid grey;
  background-color: rgba(255, 255, 255, 0);
  width: 180px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.material-symbols-outlined {
  font-size: 190em;
  margin-bottom: 20px;
  transition: fill 0.3s ease;
  transition: transform 0.3s ease;
  color: var(--white);
}
.material-symbols-outlined:hover {
  color: var(--maroon);
}

.name {
  font-size: 1.2em;
  color: var(--white);
  text-align: center;
  transition: color 0.3s ease;
}
.name:hover {
  color: var(--white);
}

.container:hover .material-symbols-outlined {
  transform: scale(1.8);
}

.container:hover {
  color: grey;
}

/* Services on home page ends */
/*--------------------- About Us starts---------------------- */
.About {
  position: relative;
  height: auto;
  align-items: center;
  background-image: url("assets/bg_black.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5px;
  padding-bottom: 5px;
}
.circleContainerWrapper {
  display: flex;
  align-items: center;
  margin-top: 55px; 
  margin-left: 4%; 
  margin-right: 4%; 
}

.circleContainer {
  position: relative; 
  flex: 0 0 auto; 
  width: 250px; 
  height: 250px; 
  border-radius: 50%;
  overflow: hidden;
  margin-right: 40px;
  background-color: transparent; 
}

.circleContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; 
}

.circleText {
  flex: 1; 
  color: #f9f6f0;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  padding: 10px;
}
.circleText span {
  font-size: 38px;
  color: var(--cream);
  font-weight: bolder;
}

.About h2
 {
  font-family: cursive, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #871828;
  margin-left: 70px;
  padding: 15px 12px;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  padding-right: 20%;
  padding-bottom: 4px;
}
.containerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1%;
  margin-top: 20px;
}

.ContainerA {
  width: 43%;
  padding: 20px;
  border: 1px solid maroon;
  margin: 3px;
  margin-bottom: 3.5%;
  margin-left: 3%;
  margin-right: 3%;
  transition: all 3s;
}

#leftContainer {
  background-color: transparent;
}

#rightContainer {
  background-color: maroon;
  color: white;
}

.ContainerA:hover {
  transform: scale(1.05);
}

#leftContainer:hover {
  background-color: transparent;
  color: white;
}

#leftContainer h2, #rightContainer h2 {
  transition: all .2s;
}

#leftContainer:hover h2, #rightContainer:hover h2 {
  border-bottom: 1px;
}
/*-------------------- About Us ends--------------------- */

/*-------------------- Values starts--------------------- */
.Values {
    background-color: #000000;
    font-family: Arial, sans-serif;
    color: #000000;
    padding-top: 5px;
   }
   .vls-title {
    font-family: cursive, sans-serif;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    color: #871828;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
      1px 1px 0 white;
    padding-right: 20%;
    margin-bottom: 10px;
  }
   .Values .Vwrap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 65px;
    z-index: 100;
   }
 
  /* Styles for the values section */
  .values {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
  }
  .value {
    background-color: #fbfbfb;
    border: 1px solid #f41d1d;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    flex-basis: calc(33.333% - 20px);
    margin: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  .value:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  }
  .value h3 {
    color: #871828;
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
  }
  .value p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.5;
  }
/*-------------------- Values ends--------------------- */

/*-------------------- Services Starts--------------------- */
.Services {
  height: auto;
  padding: 10px;
  justify-content: center;
  background-image: url(assets/bg_black.jpg);
  background-size: cover;
  background-position: center;
  background-image: fill;
  background-repeat: no-repeat;
  padding-top: 55px;
  font-family: Arial, sans-serif;
  z-index: 99;
}

.container-wrapperS {
  margin-top: 3%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
  z-index: 100;
}
.container-wrapperS img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.service-container:hover .service-image {
  color: var(--maroon); 
}
.containerS {
  border: 1.5px solid grey;
  background-color: rgba(255, 255, 255, 0);
  width: 220px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.nameS {
  font-size: 1.2em;
  color: var(--white);
  text-align: center;
  transition: color 0.3s ease;
}

.containerS:hover {
  color: grey;
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/*--------------------- Service ends---------------------- */

/*--------------------- Our Team starts---------------------- */
.Team {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assets/Tr_black.jpg);
  background-size: cover;
  background-position: center;
  background-image: fill;
  background-repeat: no-repeat;
  padding-top: 45px;
}
section .card .card-image {
  position: relative;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: var(--black);
}

section .card .card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--cream);
}

.slide-container {
  max-width: 1200px;
  width: 100%;
  /*background-color: grey;*/
  padding: 60px 0;
}
.slide-content {
  margin: 0 100px;
  /*background-color: var(--cream);*/
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: #fff;
  color: #000000;
}

.image-content,
.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.media-icons {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}
.media-icons i {
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.media-icons i:hover {
  opacity: 1;
  color: var(--cream);
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--maroon);
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: var(--maroon);
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: var(--white);
}
.card-image {
  position: relative;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background: var(--cream);
  padding: 3px;
}
.card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--maroon);
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  text-align: center;
}
.swiper-navBtn {
  color: #513a2f;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #871828;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: var(--maroon);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: var(--cream);
}
/*--------------------- Our Team Ends---------------------- */

/*-------------------- Testimonials section starts------------------- */

.Testimonials {
  min-height: 100vh;
  position: relative;
  background-color: #777;
  background-size: cover;
  background-position: center;
  background-image: fill;
  background-repeat: no-repeat;
  background-image: url(assets/srt_neon.jpg);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-top: 45px;
}
#testimonials {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.testimonial {
  width: 100%;
  max-width: 600px;
  padding: 40px;
  border-radius: 20px;
  background: linear-gradient(135deg, maroon, #333, #ffe8a2);
  color: #fff;
  text-align: center;
  position: absolute;
  opacity: 0;
  /*transition: opacity 10s;*/
  transform: translateX(100%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  margin-top: 7%;
  margin-left: 30%;
}
.testimonial.active {
  opacity: 1;
  transform: translateX(0);
}

.testimonial-text {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.testimonial-author {
  font-size: 1.2em;
  font-style: italic;
}

/*--------------------- Testimonials section Ends---------------------- */

/*---------- CTA Starts --------- */
.cta {
  text-align: center;
  margin-top: 30%;
}

.cta button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.5s;
}

.cta button:hover {
  background-color: var(--maroon);
  border: 1px solid maroon;
  color: var(--white);
}
/*---------- CTA Ends --------- */
/*-------------------- Contact section starts--------------------- */
.Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #ffe8a2, maroon);
  color: #871828;
  padding-top: 45px;
}
.Contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: auto;
  background: #fff38e;
}

.containerC {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 1000;
}

.containerC .contactInfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: var(--maroon);
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
  border-radius: 22px;
}

.containerC .contactInfo h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.containerC .contactInfo ul.info {
  position: relative;
  margin: 20px 0;
}

.containerC .contactInfo ul.info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}

.containerC .contactInfo ul.info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

/* for gmail */
.containerC .contactInfo ul.info li span a {
  color: #fff;
  text-decoration: none;
  width: 30px;
  min-width: 30px;
}

.containerC .contactInfo ul.info li span:nth-child(1) img {
  max-width: 100%;
  filter: invert(1);
}

.containerC .contactInfo ul.info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
}

.containerC .contactInfo ul.sci {
  position: relative;
  display: flex;
}

.containerC .contactInfo ul.sci li {
  list-style: none;
  margin-right: 15px;
}

.containerC .contactInfo ul.sci li a {
  text-decoration: none;
}

.containerC .contactInfo ul.sci li a img {
  filter: invert(1);
}

.containerC .contactForm {
  position: absolute;
  padding: 70px 50px;
  padding-left: 250px;
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 100%;
  background: #fff;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}

.containerC .contactForm h2 {
  color: var(--black);
  font-size: 24px;
  font-weight: 500;
}

.containerC .contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.containerC .contactForm .formBox .inputBox {
  position: relative;
  margin-bottom: 35px;
}

.containerC .contactForm .formBox .inputBox.w50 {
  width: 47%;
}

.containerC .contactForm .formBox .inputBox.w100 {
  width: 100%;
}

.containerC .contactForm .formBox .inputBox input,
.containerC .contactForm .formBox .inputBox textarea {
  width: 100%;
  resize: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  outline: none;
  border-bottom: 1px solid #777;
}

.containerC .contactForm .formBox .inputBox textarea {
  height: 120px;
}

.containerC .contactForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  font-weight: 300;
  transition: 0.3s;
}

.containerC .contactForm .formBox .inputBox input:focus ~ span,
.containerC .contactForm .formBox .inputBox input:valid ~ span,
.containerC .contactForm .formBox .inputBox textarea:focus ~ span,
.containerC .contactForm .formBox .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #871828;
  font-weight: 500;
}

/* For the submit button */
.containerC .contactForm .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #871828;
  border-radius: 20px;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
}

.containerC .contactForm .formBox .inputBox input[type="submit"]:hover {
  background: #ffe8a2;
}
/*-------------------------------------*/
.contactForm {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contactForm h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.formBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* ========================== */
.inputBox {
  position: relative;
  margin-bottom: 20px;
}

.inputBox.w50 {
  width: 48%;
}

.inputBox.w100 {
  width: 100%;
}

.inputBox input,
.inputBox textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background: transparent;
  outline: none;
}

.inputBox textarea {
  resize: none;
  height: 120px;
}

.inputBox span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 16px;
  color: #999;
  transition: 0.3s;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #007bff;
}

.inputBox input[type="submit"] {
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inputBox input[type="submit"]:hover {
  background-color: #0056b3;
}

/*  Responsive Form*/
@media (max-width: 1200px) {
  .containerC {
    width: 90%;
    min-width: auto;
    margin: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  }

  .containerC .contactInfo {
    top: 0;
    height: 550px;
    position: relative;
    box-shadow: none;
    border-radius: 0px;
  }

  .containerC .contactForm {
    position: relative;
    width: calc(100% - 350px);
    padding-left: 0;
    margin-left: 0;
    padding: 40px;
    height: 550px;
    box-shadow: none;
    border-radius: 0px;
  }
}

.Csocial-links a i {
  font-size: 25px;
  height: 45px;
  width: 45px;
  display: inline-block;
  background: #ffffff;
  color: #871828;
  line-height: 1;
  padding: 10px;
  margin: 5px;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s ease;
  border-radius: 50%;
}
.Csocial-links a i:hover {
  background: #ffe8a2;
  color: var(--maroon);
  transform: translateY(2.5px);
  font-size: 30px;
}

@media (max-width: 991px) {
  .Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff38e;
  }

  .Contact::before {
    display: none;
  }

  .containerC {
    display: flex;
    flex-direction: column-reverse;
  }

  .containerC .contactForm {
    width: 100%;
    height: auto;
    border-radius: 0px;
  }

  .containerC .contactInfo {
    width: 100%;
    height: auto;
    flex-direction: row;
    border-radius: 0px;
  }
  .containerC .contactInfo ul.sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .containerC .contactForm {
    padding: 25px;
  }

  .containerC .contactInfo {
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
  }

  .containerC .contactInfo ul.sci {
    margin-top: 40px;
  }

  .containerC .contactForm .formBox .inputBox.w50 {
    width: 100%;
  }
}
/*-------------------- Contact section ends--------------------- */

/*-------------------- Footer section starts--------------------- */
footer {
  background-color: #871828;
}
.footer-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  line-height: 1.6rem;
}
.footer-col {
  height: 225px;
  width: 250px;
  padding: 8px;
}

.footer-col ul {
  list-style-type: none;
}

.footer-col ul li a {
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.8px;
  color: #bbbbbb;
}
.footer-col .footer-links ul li a:hover {
  color: var(--cream);
}
.footer-title {
  position: relative;
  color: #ffffff;
  text-transform: capitalize;
  padding: 4px 0 0;
  margin-bottom: 12px;
}
.footer-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  background-color: var(--cream);
  height: 2px;
  box-sizing: border-box;
  width: 75px;
}

.subs input[type="email"] {
  padding: 6px 8px;
  width: 60%;
  border: 1px solid var(--cream);
  background: transparent;
  color: #ffffff;
}

.subs input[type="submit"] {
  border: 0;
  width: 40%;
  padding: 6px 0;
  text-align: center;
  color: black;
  border: 1px solid #ffffff;
  background: #ffffff;
  transition: 0.3s;
  cursor: pointer;
}

.subs input[type="submit"]:hover {
  color: #ffffff;
  background: var(--maroon);
  border: 1px solid var(--cream);
  letter-spacing: 0.2rem;
}

.subs p {
  color: #ffffff;
  font-size: 14px;
}

.social-links a i {
  font-size: 20px;
  height: 40px;
  width: 40px;
  display: inline-block;
  background: #ffffff;
  color: #871828;
  line-height: 1;
  padding: 9px;
  margin-right: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s ease;

  /*
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
*/
}
.social-links a i:hover {
  background: #ffe8a2;
  color: var(--maroon);
  transform: translateY(2px);
}
.footer-copyright,
.footer-copyright h3 a {
  text-decoration: none;
  text-align: center;
  color: #f9f6f0;
  background-color: #232222;
  padding: 12px 0;
  font-size: 14px;
  letter-spacing: 1.1px;
  font-family: Verdana, Tahoma, sans-serif;
  text-transform: capitalize;
}

.footer-copyright span {
  color: var(--cream);
}
@media screen and (max-width: 700px) {
  .footer-row {
    display: block;
  }
  .footer-col {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-copyright,
  .footer-copyright h3 a {
    font-size: 14px;
  }
}
/*-------------------- Footer section ends ------------------- */
